:root {
  --brand: #ffc107;
  --brand-light-shadow: #ffc10771;
  --shadow: 0 0 5px var(--brand-light-shadow);
}
.shadow-md {
  box-shadow: 0 0 10px 10px #00000011;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.flow-column {
  grid-auto-flow: column;
}
.flow-row {
  grid-auto-flow: row;
}
grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 12), 1fr);
}
.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 12), 1fr);
}

.profile::after {
  content: "\f030";
  display: flex;
  color: var(--brand);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  background-color: #00000085;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.bg-light-h:hover {
  background-color: rgba(0, 0, 0, 0.233) !important;
}
.g-primary {
  background: radial-gradient(at 100% 100%, #00f48d 0%, transparent 70%),
    radial-gradient(at 100% 0%, #00c2ff 0%, transparent 70%),
    radial-gradient(at 0% 0%, #0012ff 0%, transparent 70%), #7700ff;
}
.btn-circle {
  width: 35px !important;
  height: 35px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 500px !important;
}
footer {
  position: sticky;
  bottom: 0;
}
.cols-4 {
  --columns: 4;
}
.gradient {
  --bs-gradient: linear-gradient(45deg, #00000040, transparent) !important;
}
.background-clip {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-outline-gray {
  border: 1px solid var(--bs-gray-500) !important;
  color: var(--bs-gray-500) !important;
}
.btn-outline-gray:hover {
  color: var(--bs-white) !important;
  background-color: var(--bs-gray-500) !important;
}
.cols-2 {
  --columns: 2;
}
.cols-1 {
  --columns: 2;
}
.cols-4 {
  --columns: 4;
}
.cols-3 {
  --columns: 3;
}

.span {
  grid-column: span var(--span, 1);
}
.rounded-5 {
  border-radius: 20px !important;
}
nav {
  z-index: 9999;
}
.blur {
  filter: blur(8px);
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
flex {
  display: flex !important;
}
.no-content::after {
  content: none !important;
}
.border-brand {
  border: 2px solid #ffffff80;
}
.shadow-0 {
  box-shadow: none !important;
}
.shadow-0:focus {
  box-shadow: none !important;
}
.shadow-0:hover {
  box-shadow: none !important;
}
.bg-white-h:hover {
  background-color: #fff !important;
}
.ryo-rounded-top {
  border-top-left-radius: var(--r, 0.25rem) !important;
  border-top-right-radius: var(--r, 0.25rem) !important;
}
#block-1,
.active {
  border: 3px solid var(--brand) !important;
  background: #fff !important;
  box-shadow: var(--shadow) !important;
}
.fs-7 {
  font-size: 0.9rem !important;
}
.fs-8 {
  font-size: 0.7rem;
}
h7 {
  font-size: 0.8rem;
}
.cubic-bezier {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shadow-h:hover {
  box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 10%) !important;
}
.bg-white-o {
  background-color: #ffffff70;
}
.shadow-brand {
  box-shadow: var(--shadow);
}
.items-center {
  justify-items: center;
}
@media (min-width: 576px) {
  .cols-sm-1 {
    --columns: 1;
  }
  .cols-sm-2 {
    --columns: 2;
  }
}
@media (min-width: 768px) {
  .cols-md-1 {
    --columns: 1;
  }
  .cols-md-4 {
    --columns: 4;
  }
  .cols-md-2 {
    --columns: 2;
  }
}
