<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="public/library/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/fonts/css/all.min.css">
  <title>Freelancer Dashboard</title>
</head>

<body class="d-flex flex-column bg-light">
    <!-- navigation -->
  <nav class="z-3 sticky-top px-4 bg-white align-items-center position-relative text-center p-2 W-100 mb-2 d-flex justify-content-between shadow-md" style="font-family: serif !important;">
    <article class="align-items-center ">
      <div class="px-2 fw-bold fs-2 pe-5">CAAS</div>
      <section class="cols-3 flow-column gap-2">
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dashboard"><i class="fas fa-house-user"></i></button>
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Projects"><i class="fas fa-file-invoice"></i></button>
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Team"><i class="fas fa-users"></i></button>
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reports"><i class="fas fa-scroll"></i></button>
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0 fs-7 fw-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="KDS">KDS</button>
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Opportunities"><i class="fas fa-briefcase"></i></button>
        <button class="btn btn-circle btn-outline-light text-dark rounded-pill border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messages"><i class="fas fa-comment-dots"></i></button>
      </section>
    </article>
    <article class="gap-2">
      <button class="btn btn-outline-gray rounded-pill px-3">
        <i class="fas fa-wallet pe-2"></i>
        $0.00
      </button>
      <button class="btn btn-outline-gray btn-circle">
        <i class="fas fa-bookmark"></i>
      </button>
      <div class="dropdown">
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 cubic-bezier dropdown-toggle no-content" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
        </button>
        <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
          <li class="fs-8 px-3 py-3">
            <div class="fw-bold">Mohammad Reza Yousofi</div>
            <div class="text-black-50">yousofimreza@gmail.com</div>
          </li>
          <li class="border"><a href="#" class="dropdown-item py-2"><i class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch to Hiring</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
        </ul>
      </div>
      <input type="text" name="search" id="search" placeholder="search" class=" border border-secondary px-3 rounded-pill">
      <div class="dropdown " >
        <button class="btn btn-outline-gray p-0 rounded-pill border-0" >
          <img src="/public/images/img.jpg" class=" rounded-pill dropdown-toggle no-content" style="width: 35px;" />
        </button>
        <div id="profile-dropdown" class="btn rounded-pill  overflow-hidden p-0 dropdown-toggle no-content" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-angle-down text-black-50"></i>
        </div>
        <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
          <li class="fs-8 px-3 py-3">
            <div class="fw-bold ">Mohammad Reza Yousofi</div>
            <div class="text-black-50">yousofimreza@gmail.com</div>
          </li>
          <li class="border"><a href="#" class="dropdown-item py-2"><i class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch to Hiring</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
        </ul>
      </div>
      
    </article>
  </nav>
  <!-- main -->
  <main class="d-flex flex-column justify-content-center position-relative mx-3 p-3">
    
    <!-- container -->
    <div class="z-3">
      <section class="flow-column gap-4">
        
        <!-- content -->
        <article class="span flex-column" style="--span: 8;">
            <div class="mt-3 mb-1 fs-7 fw-bold"><i class="fas fa-arrow-left"></i> Back to projects</div>
            <div class="h5 fw-bold p-3 bg-gray-h rounded-5">Project title</div>
            <article class="bg-white rounded-5 shadow-sm flex-column">
                <article class="h5 fw-bold justify-content-between align-items-center w-100 pb-2 p-4 "><div>1. Deliverables </div><i class="fas fa-check p-1 bg-light text-black-50 rounded-pill fs-8 btn-circle" style="--size: 20px"></i></article>
                <article class="flex-column ms-auto col-11 align-items-start px-3">
                    <article class="flex-column border  borer-gray rounded-4 justify-content-end p-3 gap-1 w-100">
                        <input type="text" name="" id="" placeholder="Add a Deliverable Title" class=" border-0 bg-white fs-7">
                        <textarea type="text" name="" id="" placeholder="Enter a clear, concise description of what you'll deliver" class=" border-0 bg-white fs-7"></textarea>
                    </article>
                    <a href="#" class="btn p-0 m-0 d-flex align-items-center shadow-0 mt-2 fs-7 fw-bold"><button class="btn p-0 m-0 btn-circle btn-light me-2"><i class="fas fa-plus m-2"></i></button> Add Deliverable</a>
                </article>
                <hr class="mb-0">
                <div>
                    <article class="h5 fw-bold justify-content-between align-items-center w-100 pb-2 p-4"><div>2. Duration </div><i class="fas fa-check p-1 bg-light text-black-50 rounded-pill fs-8 btn-circle" style="--size: 20px"></i></article>
                    <article class="p-3 gap-3 col-11 ms-auto">
                        <article class="flex-column col rounded-top border border-gray">
                            <label class="px-2 pt-2 fs-9">Start Date</label>
                            <input type="date" name="start-date" id="start-date" class="border-0 py-1 px-2 fs-7 border-bottom border-dark">
                        </article>
                        <article class="flex-column col rounded-top border border-gray">
                            <label class="px-2 pt-2 fs-9">Start Date</label>
                            <input type="date" name="end-date" id="end-date" class="border-0 py-1 px-2 fs-7 border-bottom border-dark">
                        </article>
                    </article>
                </div>
                <hr class="m-0">
                <div>
                    <article class="h5 fw-bold justify-content-between align-items-center w-100 pb-2 p-4"><div>3. Budget</div><i class="fas fa-check p-1 bg-light text-black-50 rounded-pill fs-8 btn-circle" style="--size: 20px"></i></article>
                    <article class="gap-3 col-11 ms-auto px-3 flex-column">
                        <article class="gap-3">
                            <div class="col border p-3 text-center rounded-4 border-warning border-3">
                                <div class="fw-bold">Fixed price</div>
                                <div class="fs-7">Best for one-time projects</div>
                            </div>
                            <div class="col border border-gray p-3 text-center rounded-4">
                                <div class="fw-bold">fixed price</div>
                                <div class="fs-7">Best for one-time projects</div>
                            </div>
                        </article>
                        <article class="gap-3">
                            <article class="flex-column col rounded-top border border-gray">
                                <label class="px-2 pt-2 fs-9">Start Date</label>
                                <input type="date" name="end-date" id="test" class="border-0 py-1 px-2 fs-7 border-bottom border-dark">
                            </article>
                            <article class="flex-column col rounded-top border border-gray">
                                <label class="px-2 pt-2 fs-9">Start Date</label>
                                <input type="date" name="end-date" id="ss" class="border-0 py-1 px-2 fs-7 border-bottom border-dark">
                            </article>
                        </article>
                    </article>
                </div>
                <hr>
                <div>
                    <article class="h5 fw-bold justify-content-between align-items-center w-100 pb-2 p-4"><div>4. Payment Schedule</div><i class="fas fa-check p-1 bg-light text-black-50 rounded-pill fs-8 btn-circle" style="--size: 20px"></i></article>
                    <div class="px-4">
                        <article class="rounded-4 border border-gray p-3">
                            <article class="flex-row justify-content-between">
                                <div>
                                    this is a test.
                                </div>
                                <div>$0</div>
                            </article>
                        </article>
                    </div>
                </div>
            </article>
        </article>
        <!-- aside -->
        <aside class="span d-flex flex-column align-items-center bg-white-o rounded-5 h-100 border-white shadow-sm" style="--span: 4;">
          side bar
        </aside>
      </section>
    </div>
  </main>

  <footer>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="/public/library/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/library/bootstrap/js/bootstrap.bundle.min.js"></script>
     
  </footer>
</body>

</html>