<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="public/library/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="public/fonts/css/all.min.css" />
  <title>Create project plan proposal for : Project post title</title>
  
</head>   
<body class="d-flex flex-column bg-light"> 
  <nav class="z-3 sticky-top px-4 bg-white align-items-center position-relative text-center p-2 W-100 mb-2 d-flex justify-content-between shadow-md" style="font-family: serif !important;">
    <article class="align-items-center ">
      <div class="px-2 fw-bold fs-2 pe-5">CAAS</div>
      <section class="cols-3 flow-column gap-2">
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dashboard"><i class="fas fa-house-user"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Projects"><i class="fas fa-file-invoice"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Team"><i class="fas fa-users"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reports"><i class="fas fa-scroll"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark fs-7 fw-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="KDS">KDS</button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Opportunities"><i class="fas fa-briefcase"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messages"><i class="fas fa-comment-dots"></i></button>
      </section>
    </article>
    <article class="gap-2">
      <button class="btn btn-outline-secondary rounded-pill px-3">
        <i class="fas fa-wallet pe-2"></i>
        $0.00
      </button>
      <button class="btn btn-outline-secondary btn-circle">
        <i class="fas fa-bookmark"></i>
      </button>
      <div class="dropdown">
        <button class="btn btn-circle btn-outline-secondary rounded-pill border-0 cubic-bezier dropdown-toggle no-content" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
        </button>
        <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
          <li class="fs-8 px-3 py-3">
            <div class="fw-bold">Mohammad Reza Yousofi</div>
            <div class="text-black-50">yousofimreza@gmail.com</div>
          </li>
          <li class="border"><a href="#" class="dropdown-item py-2"><i class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch to Hiring</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
        </ul>

      </div>
      <input type="text" name="search" id="search" placeholder="search" class="1 border border-secondary px-3 rounded-pill">
      <div class="dropdown">
        <button class="btn btn-outline-gray p-0 rounded-pill border-0" >
          <img src="/public/images/img.jpg" class=" rounded-pill dropdown-toggle no-content" style="width: 35px;" />
        </button>
        <div id="profile-dropdown" class="btn rounded-pill  overflow-hidden p-0 dropdown-toggle no-content" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-angle-down text-black-50"></i>
        </div>
        <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
          <li class="fs-8 px-3 py-3">
            <div class="fw-bold ">Mohammad Reza Yousofi</div>
            <div class="text-black-50">yousofimreza@gmail.com</div>
          </li>
          <li class="border"><a href="#" class="dropdown-item py-2"><i class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch to Hiring</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
        </ul>
      </div>
      
    </article>
  </nav>

  <main class="container my-3">
    <!-- container -->
    <article class="flex-column gap-3"> 
      <div>
        create a project plan proposal for: <span class="text-primary">project post title</span>
      </div>
      <div>
        Total Required Budget: <b>$ 950</b> <i class="fas fa-question-circle text-primary"></i> 
      </div>
      <article class="flex-column">
        <!-- * selected team members -->
        <article class="gap-2 justify-content-between">
          <div>selected Team members: <i class="fas fa-pen px-2 btn"></i></div>
          <article class="gap-3">
            <a href="#">Check Team's Schedule</a>
            <a href="#">Go to team's chat</a>
            <a href="#">Check Team project History</a>
          </article>
        </article>
        <!-- * list -->
        <article class="flex-column gap-3">
          <!-- card items -->
          <article class="overflow-auto gap-3 col-12 p-3">
            <!-- card -->
            <article class="col-3 p-2 bg-white border rounded-3 gap-3 shadow-sm h-100">
              <article class="flex-column justify-content-center">
                <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
              </article>
              <article class="flex-column w-100">
                <div class="fs-6">Steve Johns</div>
                <div class="fs-7">Full stack developer</div>
                <article class="gap-3 align-self-end mt-2 fs-7">
                  <a href="#" target="_blank" class="no-style">contact</a>
                  <a href="#" target="_blank" class="no-style">go to profile</a>
                </article>
              </article>
            </article>
            <!-- end card -->
            <!-- card -->
            <article class="col-3 p-2 bg-white border rounded-3 gap-3 shadow-sm h-100">
              <article class="flex-column justify-content-center">
                <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
              </article>
              <article class="flex-column w-100">
                <div class="fs-6">Steve Johns</div>
                <div class="fs-7">Full stack developer</div>
                <article class="gap-3 align-self-end mt-2 fs-7">
                  <a href="#" target="_blank" class="no-style">contact</a>
                  <a href="#" target="_blank" class="no-style">go to profile</a>
                </article>
              </article>
            </article>
            <!-- end card -->
            <!-- card -->
            <article class="col-3 p-2 bg-white border rounded-3 gap-3 shadow-sm h-100">
              <article class="flex-column justify-content-center">
                <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
              </article>
              <article class="flex-column w-100">
                <div class="fs-6">Steve Johns</div>
                <div class="fs-7">Full stack developer</div>
                <article class="gap-3 align-self-end mt-2 fs-7">
                  <a href="#" target="_blank" class="no-style">contact</a>
                  <a href="#" target="_blank" class="no-style">go to profile</a>
                </article>
              </article>
            </article>
            <!-- end card -->
            <!-- card -->
            <article class="col-3 p-2 bg-white border rounded-3 gap-3 shadow-sm h-100">
              <article class="flex-column justify-content-center">
                <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
              </article>
              <article class="flex-column w-100">
                <div class="fs-6">Steve Johns</div>
                <div class="fs-7">Full stack developer</div>
                <article class="gap-3 align-self-end mt-2 fs-7">
                  <a href="#" target="_blank" class="no-style">contact</a>
                  <a href="#" target="_blank" class="no-style">go to profile</a>
                </article>
              </article>
            </article>
            <!-- end card -->
            <!-- card -->
            <article class="col-3 p-2 bg-white border rounded-3 gap-3 shadow-sm h-100">
              <article class="flex-column justify-content-center">
                <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
              </article>
              <article class="flex-column w-100">
                <div class="fs-6">Steve Johns</div>
                <div class="fs-7">Full stack developer</div>
                <article class="gap-3 align-self-end mt-2 fs-7">
                  <a href="#" target="_blank" class="no-style">contact</a>
                  <a href="#" target="_blank" class="no-style">go to profile</a>
                </article>
              </article>
            </article>
            <!-- end card -->
          </article>
          <!-- end card list -->
        </article>
        <hr>
        <!-- * milestone & roles -->
        <article column>
          <article class="align-items-center justify-content-between mb-3">
            <div>Milestones & Roles</div>
            <button icon class="btn btn-primary" onclick="openModal('create-milestone')">
              <i class="fas fa-plus pe-3"></i>
              Add Milestone
            </button>
          </article>
          <!-- ! list milestones --> 
          <article column class="gap-3 overflow-auto" style="min-height: auto; max-height: 300px;">
            <!-- * start milestone -->
            <article class="bg-white p-3 shadow-sm rounded-3 align-items-center">
              <article class="btn-circle text-secondary btn " style="gap: 1px">
                <i class="fas fa-draggable"></i>
              </article>
              <article column class="gap-1 col-5">
                <article class="gap-3 align-items-center col-12">
                  <div class="col-auto">1</div>
                  <div class="col-6">Frontend Development.</div>
                  <div class="col-1">$250</div>
                  <div class="col-3">Due Mar 29</div>
                </article>
                <article>
                  Description
                </article>
              </article>
              <!-- ! role list -->
              <article class="gap-3">
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Product Designer</div>
                      <div>$350</div>
                    </article>
                    <div>Steve Johns</div>
                  </article>
                </article>
              </article>
              <article class="my-auto ms-auto align-items-center gap-2">
                <i class="fas fa-pencil btn-circle btn btn-outline-primary"></i>
                <i class="fas fa-trash btn-circle btn btn-outline-danger"></i>
              </article>
            </article>
            <!-- * end milestone -->
            <!-- * start milestone -->
            <article class="bg-white p-3 shadow-sm rounded-3 align-items-center">
              <article class="btn-circle text-secondary btn " style="gap: 1px">
                <i class="fas fa-draggable"></i>
              </article>
              <article column class="gap-1 col-5">
                <article class="gap-3 align-items-center col-12">
                  <div class="col-auto">2</div>
                  <div class="col-6">Backend Development.</div>
                  <div class="col-1">$300</div>
                  <div class="col-3">Due Apr 29</div>
                </article>
                <article>
                  Description
                </article>
              </article>
              <!-- ! role list -->
              <article class="gap-3">
                <!-- * role item -->
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Test Software</div>
                      <div>$350</div>
                    </article>
                    <div>Lyli</div>
                  </article>
                </article>
                <!-- * end role item -->
                <!-- * role item -->
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Backend Developer</div>
                      <div>$500</div>
                    </article>
                    <div>John Doe</div>
                  </article>
                </article>
                <!-- * end role item -->
              </article>
              <article class="my-auto ms-auto align-items-center gap-2">
                <i class="fas fa-pencil btn-circle btn btn-outline-primary"></i>
                <i class="fas fa-trash btn-circle btn btn-outline-danger"></i>
              </article>
            </article>
            <!-- * end milestone -->
            <!-- * start milestone -->
            <article class="bg-white p-3 shadow-sm rounded-3 align-items-center">
              <article class="btn-circle text-secondary btn " style="gap: 1px">
                <i class="fas fa-draggable"></i>
              </article>
              <article column class="gap-1 col-5">
                <article class="gap-3 align-items-center col-12">
                  <div class="col-auto">3</div>
                  <div class="col-6">Backend Development.</div>
                  <div class="col-1">$300</div>
                  <div class="col-3">Due Apr 29</div>
                </article>
                <article>
                  Description
                </article>
              </article>
              <!-- ! role list -->
              <article class="gap-3">
                <!-- * role item -->
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Test Software</div>
                      <div>$350</div>
                    </article>
                    <div>Lyli</div>
                  </article>
                </article>
                <!-- * end role item -->
                <!-- * role item -->
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Backend Developer</div>
                      <div>$500</div>
                    </article>
                    <div>John Doe</div>
                  </article>
                </article>
                <!-- * end role item -->
              </article>
              <article class="my-auto ms-auto align-items-center gap-2">
                <i class="fas fa-pencil btn-circle btn btn-outline-primary"></i>
                <i class="fas fa-trash btn-circle btn btn-outline-danger"></i>
              </article>
            </article>
            <!-- * end milestone -->
            <!-- * start milestone -->
            <article class="bg-white p-3 shadow-sm rounded-3 align-items-center">
              <article class="btn-circle text-secondary btn " style="gap: 1px">
                <i class="fas fa-draggable"></i>
              </article>
              <article column class="gap-1 col-5">
                <article class="gap-3 align-items-center col-12">
                  <div class="col-auto">4</div>
                  <div class="col-6">Backend Development.</div>
                  <div class="col-1">$300</div>
                  <div class="col-3">Due Apr 29</div>
                </article>
                <article>
                  Description
                </article>
              </article>
              <!-- ! role list -->
              <article class="gap-3">
                <!-- * role item -->
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Test Software</div>
                      <div>$350</div>
                    </article>
                    <div>Lyli</div>
                  </article>
                </article>
                <!-- * end role item -->
                <!-- * role item -->
                <article class="gap-3 border rounded-3 p-2">
                  <article class="align-items-center">
                    <div class="fas fa-user border border-2  btn-circle border-dark"></div>
                  </article>
                  <article column>
                    <article class="gap-3 fs-8">
                      <div>Backend Developer</div>
                      <div>$500</div>
                    </article>
                    <div>John Doe</div>
                  </article>
                </article>
                <!-- * end role item -->
              </article>
              <article class="my-auto ms-auto align-items-center gap-2">
                <i class="fas fa-pencil btn-circle btn btn-outline-primary"></i>
                <i class="fas fa-trash btn-circle btn btn-outline-danger"></i>
              </article>
            </article>
            <!-- * end milestone -->
             
          </article>
        </article>
        <!-- * end milestone * roles -->
      </article> 
      <!-- ! footer -->
      <article class="justify-content-between mt-5">
        <button class="btn btn-outline-secondary" onclick="goto('freelancer-create-project-plan-proposal')">Back</button>
        <button class="btn btn-primary" onclick="goto('freelancer-create-project-plan-proposal-2')">Submit</button>
      </article>
    </article>

  </main>
  <!-- * create milestone * -->
  <dialog class="p-3" style="min-width: 60ch;" id="create-milestone">
    <h2>Create a Milestone</h2>
    <article class="gap-3">
      <div class="d-flex flex-column">
        <label for="milestone-name" class="form-label">Name of milestone</label>
        <input type="text" class="form-control" id="milestone-name" value="Frontend Development">
      </div>
      <div class="d-flex flex-column">
        <label for="milestone-amount" class="form-label">Amount</label>
        <div icon aria-label="$">
          <input inputmode="numeric" value="250.00" id="milestone-amount" class="form-control">
        </div>
        <span class="fs-9">Total amount of the roles</span>
      </div>
      <div class="d-flex flex-column">
        <label for="milestone-due-date" class="form-label">Due Date (Optional)</label>
        <input type="date" class="form-control" id="milestone-due-date">
      </div>
    </article>
    <article column>
      <label for="milestone-description" class="form-label">Description (optional)</label>
      <textarea class="form-control" name="milestone-description" id="milestone-description" rows="3" placeholder="include the details on the specifics of the milestone and how assigned members should perform their roles and collaborate to complete the milestones" value="James will do two things, and Lily will do one."></textarea>
    </article>
    <article class="gap-2">
      <article column class="col-6" >
        <h5>assign roles to members <i class="fas fa-question-circle fs-6 text-primary"></i></h5>
        <article column class="bg-light p-1 border border-light rounded-4 border-2 overflow-auto gap-1" style="height: 150px;">
          <!-- ! list assign roles -->
          <!-- * assign role item -->
          <article class="col-6 align-items-center p-2 bg-white border rounded-3 gap-2 shadow-sm w-100 ">
            <article column class=" justify-content-center">
              <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
            </article>
            <article column>
              <article class="fs-7 justify-content-between">
                <div>Steve Johns</div>
                <div>$200.00</div>
              </article>
              <div class="fs-8">Chief Designer - Designing the Frontend</div> 
            </article> 
            <article class="btn-circle btn bg-danger" style="--bs-bg-opacity: 0.3"><i class="fas fa-times text-danger my-auto"></i></article>
          </article>
          <!-- * end assign role item -->
          <!-- * assign role item -->
          <article class="col-6 align-items-center p-2 bg-white border rounded-3 gap-2 shadow-sm w-100 ">
            <article column class=" justify-content-center">
              <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
            </article>
            <article column>
              <article class="fs-7 justify-content-between">
                <div>Lily Julian</div>
                <div>$500.00</div>
              </article>
              <div class="fs-8">Assisting on Frontend development</div> 
            </article> 
            <article class="btn-circle btn bg-danger" style="--bs-bg-opacity: 0.3"><i class="fas fa-times text-danger my-auto"></i></article>
          </article>
          <!-- * end assign role item -->
          <!-- * assign role item -->
          <article class="col-6 align-items-center p-2 bg-white border rounded-3 gap-2 shadow-sm w-100 ">
            <article column class=" justify-content-center">
              <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
            </article>
            <article column>
              <article class="fs-7 justify-content-between">
                <div>John Doe</div>
                <div>$100.00</div>
              </article>
              <div class="fs-8">Frontend Development</div> 
            </article> 
            <article class="btn-circle btn bg-danger ms-auto" style="--bs-bg-opacity: 0.3"><i class="fas fa-times text-danger my-auto"></i></article>
          </article>
          <!-- * end assign role item -->
          <!-- ! end list assign roles -->
        </article>
      </article>
      <!-- * members -->
      <article column class="gap-3 overflow-auto" style="height: 200px;" >
        <!-- card -->
        <article class="col-6 p-2 bg-white border rounded-3 gap-2 shadow-sm w-100">
          <article class="flex-column justify-content-center">
            <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
          </article>
          <article class="flex-column">
            <div class="fs-7">Steve Johns</div>
            <div class="fs-8">Full stack developer</div> 
          </article> 
          <article class="my-auto">
            <button onclick="openModal('assign-role')" class="btn btn-primary d-flex gap-1 align-items-center" style="font-size: 10px;">
              <i class="fas fa-plus"></i>
              Assign a role
            </button>
          </article>
        </article>
        <!-- end card -->
        <!-- card -->
        <article class="col-6 p-2 bg-white border rounded-3 gap-2 shadow-sm w-100">
          <article class="flex-column justify-content-center">
            <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
          </article>
          <article class="flex-column">
            <div class="fs-7">Steve Johns</div>
            <div class="fs-8">Full stack developer</div> 
          </article> 
          <article class="my-auto">
            <button onclick="openModal('assign-role')" class="btn btn-primary d-flex gap-1 align-items-center" style="font-size: 10px;">
              <i class="fas fa-plus"></i>
              Assign a role
            </button>
          </article>
        </article>
        <!-- end card -->
        <!-- card -->
        <article class="col-6 p-2 bg-white border rounded-3 gap-2 shadow-sm w-100">
          <article class="flex-column justify-content-center">
            <i class="i fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
          </article>
          <article class="flex-column">
            <div class="fs-7">Steve Johns</div>
            <div class="fs-8">Full stack developer</div> 
          </article> 
          <article class="my-auto">
            <button onclick="openModal('assign-role')" class="btn btn-primary d-flex gap-1 align-items-center" style="font-size: 10px;">
              <i class="fas fa-plus"></i>
              Assign a role
            </button>
          </article>
        </article>
        <!-- end card -->
      </article>
    </article>
    <article class="gap-3">
      <button class="btn btn-primary" onclick="openModal('create-milestone', 0)">Save</button>
      <button class="btn btn-outline-primary">Save & Add Another</button>
      <button class="btn btn-outline-secondary ms-auto " onclick="openModal('create-milestone', 0)">Cancel</button>
    </article>
    <div class="btn-circle btn btn-light position-absolute top-0 end-0" onclick="openModal('create-milestone', 0)"><i class="fas fa-times text-danger"></i></div>
  </dialog>
  <!-- * end create milestone -->
  <!-- ! assign role ! -->
  <dialog id="assign-role" class="p-3" style="min-width: 40ch;">
    <div>assign a role</div>
    <!-- !card -->
    <article class="p-2 bg-white border rounded-3 gap-2 shadow-sm w-100">
      <article class="flex-column justify-content-center">
        <i class="fas fa-user-large rounded-pill border border-2 border-dark p-1"></i>
      </article>
      <article column>
        <div class="fs-7">Steve Johns</div>
        <div class="fs-8">Full stack developer</div> 
        <article class="gap-3 justify-content-end" >
          <a href="#">Project History</a>
          <a href="#">Contract</a>
        </article>
      </article>  
    </article>
    <!-- !end card -->
    <article column >
      <label for="role-title" class="form-label">Role Title/Description <i class="fas fa-question-circle text-primary"></i></label>
      <input type="text" id="role-title" class="form-control" value="Chief Designer - Designing the Frontend">
    </article>
    <article column>
      <label for="role-amount">Amount</label>
      <div icon aria-label="$">
        <input inputmode="numeric" id="role-amount" class="form-control">
      </div>
    </article>
    <article class="justify-content-between">
      <button class="btn btn-primary" onclick="">Save</button>
      <button class="btn btn-outline-secondary" onclick="openModal('assign-role',0)">Cancel</button>
    </article>
    <div class="btn-circle btn btn-light position-absolute top-0 end-0" onclick="openModal('assign-role', 0)"><i class="fas fa-times text-danger"></i></div>
  </dialog>
  <!-- ! end assign role -->
  <footer>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="/public/library/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/library/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="public/js/index.js"></script>

  </footer>
</body>

</html>