<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="public/library/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="public/fonts/css/all.min.css" />
   
  <title>Create project plan proposal for : Project post title</title>

</head>

<body class="d-flex flex-column bg-light ">
  <nav class="z-3 px-4 bg-white align-items-center position-relative text-center p-2 W-100 mb-2 d-flex justify-content-between shadow-md" style="font-family: serif !important;">
    <article class="align-items-center ">
      <div class="px-2 fw-bold fs-2 pe-5">CAAS</div>
      <section class="cols-3 flow-column gap-2">
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dashboard"><i class="fas fa-house-user"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Projects"><i class="fas fa-file-invoice"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Team"><i class="fas fa-users"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reports"><i class="fas fa-scroll"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark fs-7 fw-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="KDS">KDS</button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Opportunities"><i class="fas fa-briefcase"></i></button>
        <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messages"><i class="fas fa-comment-dots"></i></button>
      </section>
    </article>
    <article class="gap-2">
      <button class="btn btn-outline-secondary rounded-pill px-3">
        <i class="fas fa-wallet pe-2"></i>
        $0.00
      </button>
      <button class="btn btn-outline-secondary btn-circle">
        <i class="fas fa-bookmark"></i>
      </button>
      <div class="dropdown">
        <button class="btn btn-circle btn-outline-secondary rounded-pill border-0 cubic-bezier dropdown-toggle no-content" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
        </button>
        <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
          <li class="fs-8 px-3 py-3">
            <div class="fw-bold">Mohammad Reza Yousofi</div>
            <div class="text-black-50">yousofimreza@gmail.com</div>
          </li>
          <li class="border"><a href="#" class="dropdown-item py-2"><i class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch to Hiring</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
        </ul>

      </div>
      <input type="text" name="search" id="search" placeholder="search" class="1 border border-secondary px-3 rounded-pill">
      <div class="dropdown">
        <button class="btn btn-outline-gray p-0 rounded-pill border-0" >
          <img src="/public/images/img.jpg" class=" rounded-pill dropdown-toggle no-content" style="width: 35px;" />
        </button>
        <div id="profile-dropdown" class="btn rounded-pill  overflow-hidden p-0 dropdown-toggle no-content" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-angle-down text-black-50"></i>
        </div>
        <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
          <li class="fs-8 px-3 py-3">
            <div class="fw-bold ">Mohammad Reza Yousofi</div>
            <div class="text-black-50">yousofimreza@gmail.com</div>
          </li>
          <li class="border"><a href="#" class="dropdown-item py-2"><i class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch to Hiring</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
          <li><a href="#" class="dropdown-item py-2"><i class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
        </ul>
      </div>
      
    </article>
  </nav>
  <main flex column class="container mx-auto gap-3 col-12">
      <article class="align-items-center justify-content-between w-100 mt-2">
        <article column class="gap-1">
            <div class="fs-5 fw-bold">Project Post Title</div>
            <div class="fs-7">Categories</div>
        </article>
        <article class="p-1 btn-group justify-content-center mx-auto " role="group" aria-label="radio btn">
            <input type="radio" class="btn-check" autocomplete="off" name="project" id="project-info">
            <label for="project-info" class="btn btn-outline-success">project info</label>
            
            <input type="radio" class="btn-check" autocomplete="off" name="project" id="project-plan" checked>
            <label for="project-plan" class="btn btn-outline-success">project plan</label>
  
            <input type="radio" class="btn-check" autocomplete="off" name="project" id="team-member"  >
            <label for="team-member" class="btn btn-outline-success">team member</label>
        </article>
      </article>

      <article class="gap-3 align-items-center justify-content-between">
          <article class="align-items-center gap-3">
              <i class="fas fa-image"></i>
              <div>Team Name</div>
          </article>
          <div>Total Required Budget: $950</div>
      </article>
      <article class="justify-content-between align-items-center">
          <div>
              <article class="p-2 fs-8 align-items-center rounded-pill border border-2 ">Waiting for 2 members to agree</article>
          </div>
        <article class="align-items-center gap-3">
            <div>Managed by you (Team project manager)</div>
            <button class="btn btn-primary">Manage & Edit</button>
        </article>
        <article class="gap-3 align-items-center">
            <div>3 Assigned Members</div>
            <article class="gap-1">
                <article column class="align-items-center">
                    <i class="fas fa-user bg-white border border-dark btn-circle border-2 rounded-pill" ></i>
                    <div class="text-success fs-8">Agreed</div>
                </article>
                <article column class="align-items-center">
                    <i class="fas fa-user bg-white border border-dark btn-circle border-2 rounded-pill" ></i>
                    <div class="fs-8">Waiting</div>
                </article>
                <article column class="align-items-center">
                    <i class="fas fa-user bg-white border border-dark btn-circle border-2 rounded-pill" ></i>
                    <div class="fs-8">Waiting</div>
                </article>
            </article>
        </article>
      </article>
      <article class="justify-content-between align-items-center">
          <article class="gap-2">
              <div class="btn text-success bg-white rounded-pill">Agreed to participate</div>
              <div class="btn bg-white rounded-pill">Cancel</div>
          </article>
          <button class="btn text-primary bg-white rounded-pill">
              go to team
          </button>
      </article>

      <!-- ! milestone & roles -->
      <article class="col-12 gap-3">
          <!-- * milestones & roles -->
          <article column class="col-8">
              <h4>Milestones & Roles</h4>
              <!-- ! list  -->
              <article column class="overflow-auto gap-3" style="min-height: auto; max-height: 40ch;">
                <!-- * item -->
                <article column class="gap-3 col-12 bg-white p-3 rounded-3 shadow-sm position-relative">
                    <article class="gap-2">
                        <div>1</div>
                        <div>Milestone Title</div>
                        <div class="ms-auto">$350</div>
                        <div>Due Mar 29</div>
                    </article>
                    <article class="col-12">
                        <div class="col-4">description</div>
                        <!-- ! role list -->
                        <article class="col-8">
                            <!-- ! role item -->
                            <article column class="p-2 rounded-3 border border-2">
                                <article class="gap-3">
                                    <div>Role title</div>
                                    <div>$350</div>
                                </article>
                                <article align-center class="gap-2">
                                    <div class="btn-circle bg-light border border-2 border-dark">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div>Steve Johns</div>
                                </article>
                            </article>
                            <!-- ! end role item -->
                        </article>
                        <!-- ! end role list -->
                    </article>
                    <article align-center class="position-absolute bg-light translate-middle top-50 end-0 bottom-50 m-1 btn-circle">
                        <i class="fas fa-chevron-right fs-4"></i>
                    </article>
                </article>
                <!-- * end item -->
                <!-- * item -->
                <article column class="gap-3 col-12 bg-white p-3 rounded-3 shadow-sm position-relative">
                    <article class="gap-2">
                      <div>1</div>
                      <div>Milestone Title</div>
                      <div class="ms-auto">$350</div>
                      <div>Due Mar 29</div>
                    </article>
                    <article class="col-12">
                        <div class="col-4">description</div>
                        <!-- ! role list -->
                        <article class="col-8">
                            <!-- ! role item -->
                            <article column class="p-2 rounded-3 border border-2">
                                <article class="gap-3">
                                    <div>Role title</div>
                                    <div>$350</div>
                                </article>
                                <article align-center class="gap-2">
                                    <div class="btn-circle bg-light border border-2 border-dark">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div>Steve Johns</div>
                                </article>
                            </article>
                            <!-- ! end role item -->
                        </article>
                        <!-- ! end role list -->
                    </article>
                    <article align-center class="position-absolute bg-light translate-middle top-50 end-0 bottom-50 m-1 btn-circle">
                        <i class="fas fa-chevron-right fs-4"></i>
                    </article>
                </article>
                <!-- * end item -->
              </article>
              <!-- ! end list -->
            </article>
            <!-- * assigned to you -->
            <article column class="col">
              <h4>Assigned to you</h4>
              <article justify-between class="fs-7">
                  <div>Milestones: 2 Roles: 4</div>
                  <div>Total Payment: $300</div>
              </article>
              <hr class="my-2">
              <!-- !! ROLE LIST !! -->
              <article column class="gap-2">
                  <!-- !items! -->
                  <article column class="bg-white p-3 rounded-3 shadow-sm gap-2 fs-7">
                      <article justify-between>
                          <div>Role 1:</div>
                          <div>Milestone: 1</div>
                      </article>
                      <div>
                          Graphic designing the logo and Icons and elements for the frontend
                      </div>
                      <article justify-between class="text-primary">
                          <div>$50</div>
                          <div>Due Mar 29</div>
                      </article>
                  </article>
                    <!-- !items! -->
                  <!-- !items! -->
                  <article column class="bg-white p-3 rounded-3 shadow-sm gap-2 fs-7">
                      <article justify-between>
                          <div>Role 1:</div>
                          <div>Milestone: 1</div>
                      </article>
                      <div>
                          Assigning the frontend development
                      </div>
                      <article justify-between class="text-primary">
                          <div>$50</div>
                          <div>Due Mar 29</div>
                      </article>
                  </article>
                <!-- !items! -->
              </article>
              <!-- !! END ROLE LIST !! -->
            </article>
      </article>
      <!-- ! end milestone & roles -->

      <article>
        <button class="btn bg-white rounded-pill"><i class="fas fa-arrow-left"></i> Back</button>
      </article>
  </main>
  <footer>
    <script src="public/js/jquery.min.js"></script>
      <script src="/public/library/bootstrap/js/bootstrap.min.js"></script>
      <script src="/public/library/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/public/js/index.js"></script>
    </footer>
</body>
</html>
