<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="style.css" >
    <link rel="stylesheet" href="public/library/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="public/fonts/css/all.min.css" >
    <title>Add a service offering (1/2)</title>
</head>

<body class="d-flex flex-column bg-light">

    <article class="bg-white shadow-md mb-2">
        <nav class="z-3 container align-items-center position-relative p-2 W-100 d-flex justify-content-between  "
            style="font-family: serif !important;">
            <article class="align-items-center ">
                <div class="px-2 fw-bold fs-2 pe-5">CAAS</div>
                <section class="cols-3 flow-column gap-2">
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Dashboard"><i class="fas fa-house-user"></i></button>
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Projects"><i class="fas fa-file-invoice"></i></button>
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Team"><i class="fas fa-users"></i></button>
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Reports"><i class="fas fa-scroll"></i></button>
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark fs-7 fw-bold"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="KDS">KDS</button>
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Opportunities"><i class="fas fa-briefcase"></i></button>
                    <button class="btn btn-circle btn-outline-gray rounded-pill border-0 text-dark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Messages"><i class="fas fa-comment-dots"></i></button>
                </section>
            </article>
            <article class="gap-2">
                <button class="btn btn-outline-secondary rounded-pill px-3">
                    <i class="fas fa-wallet pe-2"></i>
                    $0.00
                </button>
                <button class="btn btn-outline-secondary btn-circle">
                    <i class="fas fa-bookmark"></i>
                </button>
                <div class="dropdown">
                    <button
                        class="btn btn-circle btn-outline-secondary rounded-pill border-0 cubic-bezier dropdown-toggle no-content"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                    </button>
                    <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
                        <li class="fs-8 px-3 py-3">
                            <div class="fw-bold">Mohammad Reza Yousofi</div>
                            <div class="text-black-50">yousofimreza@gmail.com</div>
                        </li>
                        <li class="border"><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch
                                to Hiring</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
                    </ul>
                </div>
                <input type="text" name="search" id="search" placeholder="search"
                    class="1 border border-secondary px-3 rounded-pill">
                <div class="dropdown">
                    <button class="btn btn-outline-gray p-0 rounded-pill border-0">
                        <img src="/public/images/img.jpg" class=" rounded-pill dropdown-toggle no-content"
                            style="width: 35px;" />
                    </button>
                    <div id="profile-dropdown" class="btn rounded-pill  overflow-hidden p-0 dropdown-toggle no-content"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-angle-down text-black-50"></i>
                    </div>
                    <ul class="dropdown-menu shadow-md mt-3 rounded-5 border-0 p-0" aria-labelledby="profile-dropdown">
                        <li class="fs-8 px-3 py-3">
                            <div class="fw-bold ">Mohammad Reza Yousofi</div>
                            <div class="text-black-50">yousofimreza@gmail.com</div>
                        </li>
                        <li class="border"><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-city me-2 fs-4 text-black-50 bg-warning gradient background-clip"></i>Switch
                                to Hiring</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-cog me-2 fs-4 text-black-50"></i>Settings</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-envelope me-2 fs-4 text-black-50"></i>Email preferences</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-question-circle me-2 fs-4 text-black-50"></i>Help</a></li>
                        <li><a href="#" class="dropdown-item py-2"><i
                                    class="fas fa-sign-out-alt me-2 fs-4 text-black-50"></i>Log out</a></li>
                    </ul>
                </div>

            </article>
        </nav>
    </article>

    <main flex column class="position-relative p-3 container gap-3">
        <h4>Add a service offering (2/2)</h4>
        <article class="col-auto bg-white rounded-3 p-3 gap-3 me-auto" H>
            <h6>add pictures: <small class="text-gray">First 1 will be the thumbnail</small></h6>
            <article class="gap-2">
                <div class="btn btn-circle bg-light rounded-pill">
                    <i class="fas fa-file-circle-plus fs-5 m-2"></i>
                </div>
                <article column class="bg-light align-items-center p-3 rounded-3">
                    <i class="fas fa-image fs-2 pb-2 mx-3"></i>
                    <i class="fas fa-trash text-danger"></i>
                </article>
                <article column class="bg-light align-items-center p-3 rounded-3">
                    <i class="fas fa-image fs-2 pb-2 mx-3"></i>
                    <i class="fas fa-trash text-danger"></i>
                </article>
            </article>
        </article>
        <article class="gap-3">
            <article column>
                <label for="timeline" class="form-label">timeline:</label>
                <input type="text" name="timeline" id="timeline" class="form-control" placeholder="service Duration:">
            </article>
            <article column>
                <label for="set-pricing" class="form-label">set pricing: <span class="fs-8">fixed cost</span></label>
                <div flex icon aria-label="$">
                    <input type="text" name="set-pricing" placeholder="start from:" inputmode="decimal" id="set-pricing" class="form-control ps-4">
                </div>
            </article>
        </article>
        <article column class="gap-3">
            <article class="gap-1">
                <article column class="col-6 bg-white rounded-3 p-3">
                    <h6>select team members involved.</h6>
                    <article class="gap-2 flex-wrap">
                        <article class="border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user1" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user1" class="position-absolute top-0 end-0 m-1">
                        </article>
                        <article class="border border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user6" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user6" class="position-absolute top-0 end-0 m-1">
                        </article>
                        <article class="border border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user9" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user9" class="position-absolute top-0 end-0 m-1">
                        </article>
                        <article class="border border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user2" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user2" class="position-absolute top-0 end-0 m-1">
                        </article>
                        <article class="border border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user3" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user3" class="position-absolute top-0 end-0 m-1">
                        </article>
                        <article class="border border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user4" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user4" class="position-absolute top-0 end-0 m-1">
                        </article>
                        <article class="border border-2 rounded-3 p-2 gap-2 bg-white position-relative">
                            <label flex column align-center for="user5" class="text-center gap-2">
                                <i class="fas fa-user btn-circle bg-light rounded-pill border border-dark border-2"></i>
                                <div class="fs-8">July Angella</div>
                            </label>
                            <input type="checkbox" name="selected-team" id="user5" class="position-absolute top-0 end-0 m-1">
                        </article>
                    </article>
                </article>

            </article>
            <article class="gap-3 justify-content-end">
                <button class="btn btn-outline-secondary" onclick="goto('team-add-service-offering')">Back</button>
                <button class="btn btn-primary">Perview</button>
                <button class="btn btn-outline-primary">Save as draft</button>
                <button class="btn btn-success">Publish</button>
            </article>
        </article>
    </main>

    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
        <script src="/public/library/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/library/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/chart.min.js"></script>
        <script src="/public/js/index.js"></script>
    </footer>
</body>

</html>
