<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="public/js/nav-comp.mjs"></script>
    <script src="/public/js/svg-loader.min.js" async></script>
     
    <title>Team Notice</title>
</head>

<body class="d-flex flex-column bg-light">
    <nav-comp></nav-comp> 

    <main flex column class="justify-content-center position-relative mx-3 p-3 container">

        <!-- container -->
        <div class="z-3"> 
            <article class="gap-3">
                <!-- navside bar -->
                <aside class="col-3 d-flex flex-column gap-2">
                    <details open class="bg-white rounded-4 shadow-sm">
                        <summary class="p-3">
                            <i class="fab fa-adn"></i>
                            <span>Team Name</span>
                        </summary>
                        <article class="flex-column">
                            <a href="#" class="active">Chat & files</a>
                            <a href="#">Schedule management</a>
                            <a href="/team-notice.html">Notice</a>
                            <a href="#">Members</a>
                            <a href="#">My Milestones & tasks</a>
                        </article>
                    </details>
                    <details class="bg-white rounded-4 shadow-sm">
                        <summary class="p-3">
                            <i class="fas fa-users"></i>
                            <span>Team Management</span>
                        </summary>
                        <article class="flex-column">
                            <a href="#">Team Information</a>
                            <a href="#">Goals</a>
                            <a href="#">Service offering</a>
                            <a href="#">Talent Recruitment</a>
                            <a href="#">Team Reports</a>
                            <a href="#">Invite Talents</a>
                        </article>
                    </details>
                    <details class="bg-white rounded-4 shadow-sm">
                        <summary class="p-3">
                            <i class="fab fa-product-hunt"></i>
                            <span>Project</span>
                        </summary>
                        <article class="flex-column">
                            <a href="#">Ongoing Project</a>
                            <ul class="bg-light p-0 m-0">
                                <li class="align-items-center d-flex py-0"><a class="w-100 ps-4" href="#">project title</a></li>
                                <li class="align-items-center d-flex py-0"><a class="w-100 ps-4" href="#">project title2</a></li>
                            </ul>
                            <a href="#">Applied Project</a>
                            <ul class="bg-light p-0 m-0">
                                <li class="align-items-center d-flex py-0"><a class="w-100 ps-4" href="#">project title5</a></li>
                                <li class="align-items-center d-flex py-0"><a class="w-100 ps-4" href="#">project title4</a></li>
                            </ul>
                            <a href="#">Invalid Project</a>
                            <a href="#">Client Offers</a>
                            <ul class="bg-light p-0 m-0">
                                <li class="align-items-center d-flex py-0"><a class="w-100 ps-4" href="#">project title7</a></li>
                            </ul>
                            <a href="#">All participated projects</a>
                            <a href="#" class="btn btn-primary">Discover project</a>
                        </article>
                    </details>
                    <details class="bg-white rounded-4 shadow-sm">
                        <summary class="p-3">
                            <i class="fas fa-users"></i>
                            <span>Appliances</span>
                        </summary>
                        <article class="flex-column">
                            <a href="#">Issues Management</a>
                            <a href="#">LucidChart</a>
                            <a href="#">Klabo Center</a>
                            <a href="#">KDS</a>
                            <a href="#">Guidebooks</a>
                        </article>
                    </details>
                </aside>
                <article>content</article>
            </article>
        </div>
    </main>

    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
        <script src="/public/library/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/library/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/index.js"></script>
    </footer>
</body>

</html>